<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <connectionStrings>
        <add name="ProductContext" providerName="System.Data.SqlClient"
             connectionString="Data Source=(LocalDB)\MSSQLLocalDB;Integrated Security=True" />
    </connectionStrings>
    <system.web>
    </system.web>
</configuration>